/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    display: block!important;
}

body {
    font-family: 'Urbanist', sans-serif;
    line-height: 1.6;
    font-size: 16px; /* Base font size for desktops */
    overflow-x: hidden;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from the parent element */
}

/*////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////// GLOBAL RESPONSIVENESS /////////////////////////////////////*/

.header-placeholder {
    width: 100%;
}
/* General Container Responsiveness */
.container {
    width: 90%; /* Makes containers fluid and adaptable */
    max-width: 1200px; /* Prevents overly wide layouts */
    margin: 0 auto; /* Centers content */
    padding: 1rem; /* Adds breathing room */
}

/* Text Responsiveness */


@media (max-width: 768px) {
    body {
        font-size: 14px; /* Reduce font size for smaller devices */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px; /* Further reduce for extra small devices */
    }
}
/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////// SITE /////////////////////////////////////*/

/* General Navbar Styling */
.site-header {
    background-color: transparent;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #000000;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    max-width: 2rem; /* Adjust as needed */
}

/* Hide Nav Links by Default */
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    color: #000000;
    width: 200px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

/* Hamburger Menu Styling */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    background-color: #000000;
    height: 3px;
    width: 25px;
    border-radius: 2px;
}

/* Checkbox Toggle for Hamburger Menu */
.menu-toggle {
    display: none;
}

.menu-toggle:checked + .hamburger-menu + .nav-links {
    height: auto;
    padding: 1rem;
    background-color: #fff;
    color:#000000;
    border: 1.5px solid #000000;
}

/* Media Queries for Desktop */
@media (min-width: 769px) {
    .hamburger-menu {
        display: none; /* Hide Hamburger on Larger Screens */
    }

    .nav-links {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 2rem;
        height: auto;
        background: none;
        width: auto;
        padding: 0;
    }
}

/*////////////////////////////////////////////////////////////////////////*/

/*/////////////// Banner Styles////////////////////////*/
/* Moving Banner Section */
.moving-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moving-banner-b {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the banner text */
.banner-text {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.banner-text-b {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* The UL should scroll horizontally */
.banner-text ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: move-text 50s linear infinite; /* Adjust time for faster/slower scrolling */
    width: 100%;
}

.banner-text-b ul{
    display: flex;
    justify-content: inherit;
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: move-text-b 50s linear infinite; /* Adjust time for faster/slower scrolling */
    width: 100%;
}

/* Style for individual list items */
.banner-text li,
.banner-text-b li{
    display: inline-block;
    white-space: nowrap;
    padding: 0 1rem; /* Space between each word */
    font-size: 1rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    color: black;
}

/* Animation for scrolling text */
@keyframes move-text {
    0% {
        transform: translateX(100%); /* Start from right */
    }
    100% {
        transform: translateX(-100%); /* Move all the way to the left */
    }
}
@keyframes move-text-b {
    0% {
        transform: translateX(-100%); /* Start from left */
    }
    100% {
        transform: translateX(100%); /* Move all the way to the right*/
    }
}


/* Example for media queries (optional) for mobile */
@media (max-width: 768px) {
    .banner-text {
        font-size: 0.7rem;
    }
    .banner-text li,
    .banner-text-b li{
        display: inline-block;
        white-space: nowrap;
        padding: 0 1rem; /* Space between each word */
        font-size: 1rem;
        font-family: 'Urbanist', sans-serif;
        font-weight: 700;
        color: black;
    }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// HERO ////////////////////////////////////////*/

/* General Hero Styling */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; /* Space between image and text */
    padding: 2rem 1rem;
}

.hero-content {
    display: flex;
    flex-direction: row; /* Default: side-by-side layout */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Text Styling */
.hero-text {
    max-width: 50vw;
    text-align: left;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0.5rem 0;
}

.hero-text a{
    align-items: center;
    max-width: 8rem;
    margin: 2rem 1rem;
}

/* Image Styling */
.hero-image img {
    min-width: 30vw;
    height: auto;
    margin:auto;
}

.hero-social-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 24.4rem 1rem 0rem;
}


/* XS and S Media Queries */
@media (max-width: 768px) { /* Covers XS and S */
    .hero {
        flex-direction: column; /* Stack image and text vertically */
        padding: 1rem;
    }

    .hero-content {
        display: flex;
        flex-direction: column; /* Ensures image and text stack */
        gap: 1rem;
        min-width: 90vw;
    }
    .hero-text {
        min-width: 90vw;
    }

    .hero-text h1{
        font-size: 2rem; /* Reduce font size for smaller screens */
        text-align: center; /* Center-align text for narrow screens */
        padding: 0.2rem 0;
    }

    .hero-text p{
        font-size: 1.2rem!important;
        text-align: center; /* Center-align text */
        padding: 0.2rem 1rem;
    }

    .hero-image img {
        max-width: 90%; /* Scale down the image */
    }
    
    .hero-social-container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 1rem 5rem;
    }

    .hero-social-container img{
        max-width: 1.3rem;
    }
}

@media (max-width: 480px) { /* Specific to XS */
    .hero {
        padding: 0.5rem; /* Reduce padding for extra small screens */
    }
    
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-text {
        min-width: 100vw;
        padding: 0;
        text-align: center;
    }
    .hero-text h1{
        font-size: 1.5rem; /* Further reduce font size */
        padding: 0.2rem 0;
    }

    .hero-text p{
        font-size: 0.85rem; /* Smaller font for extra small screens */
        padding: 1rem 2rem;
        line-height: auto;
        margin: 2rem 0;
    }

    .hero-image {
        padding: 0.2rem 0.2rem;
        max-width: 20rem;
    }
    

    .hero-social-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 1rem 0;
    }
    .hero-social-container img{
        max-width: 1rem;
    }
}

/*///////////////////////////////////////MAIN HERO//////////////////////////////////////////////////////*/

.main-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; /* Space between image and text */
    padding: 2rem 1rem;
}

.main-hero-content {
    display: flex;
    flex-direction: row; /* Default: side-by-side layout */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Text Styling */
.main-hero-text {
    max-width: 50vw;
    text-align: left;
}

.main-hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.main-hero-text p {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0.5rem 0;
}

/* Image Styling */
.main-hero-image img {
    min-width: 30vw;
    height: auto;
    margin:auto;
}

.main-hero-social-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 24.4rem 1rem 0rem;
}


/* XS and S Media Queries */
@media (max-width: 768px) { /* Covers XS and S */
    .main-hero {
        flex-direction: column; /* Stack image and text vertically */
        padding: 1rem;
    }

    .main-hero-content {
        flex-direction: column; /* Ensures image and text stack */
        gap: 1rem;
        min-width: 90vw;
    }
    .main-hero-text {
        min-width: 90vw;
    }

    .main-hero-text h1 {
        font-size: 2rem; /* Reduce font size for smaller screens */
        text-align: center; /* Center-align text for narrow screens */
        padding: 0.2rem 0;
    }

    .main-hero-text p {
        font-size: 1.2rem!important;
        text-align: center; /* Center-align text */
        padding: 0.2rem 1rem;
    }

    .main-hero-image img {
        max-width: 90%; /* Scale down the image */
    }
    
    .main-hero-social-container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 1rem 5rem;
    }

    .main-hero-social-container img{
        max-width: 1.3rem;
    }
}

@media (max-width: 480px) { /* Specific to XS */
    .main-hero {
        padding: 0.5rem; /* Reduce padding for extra small screens */
    }
    
    .main-hero-content {
        flex-direction: column;
    }
    .main-hero-text {
        min-width: 100vw;
        padding: 0;
        text-align: center;
    }
    .main-hero-text h1 {
        font-size: 1.5rem; /* Further reduce font size */
    }

    .main-hero-text p {
        font-size: 0.85rem; /* Smaller font for extra small screens */
    }

    .main-hero-social-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 1rem 0;
    }
    .main-hero-social-container img{
        max-width: 1rem;
    }
}
/*/////////////////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////// LINES OF WORK CARDS ///////////////////////////////////////*/

/* Card Container */
.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 7rem 5rem;
    overflow-x: auto; /* Enables horizontal scrolling */
    scroll-snap-type: x mandatory; /* Smooth snapping for cards */
}

/* Scrollbar Styling */
.card-container::-webkit-scrollbar {
    height: 8px; /* Thin scrollbar */
}

.card-container::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Scrollbar color */
    border-radius: 4px;
}

/* Card Styling */
.card {
    flex: 0 0 auto; /* Prevents cards from resizing or wrapping */
    scroll-snap-align: start; /* Ensures cards align neatly during scrolling */
    background-color: white;
    border-radius: 15px;
    width: 17rem;
    height: 27rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* Specific Border Colors */
.activismo {
    border: 3px solid #D9A9FB;
}

.formacion {
    border: 3px solid #FF8080;
}

.consumo {
    border: 3px solid #99CC33;
}

/* Responsive Adjustments for XS and S */
@media (max-width: 768px) {
    .card-container {
        justify-content: flex-start; /* Align cards to the left */
        gap: 1rem; /* Reduce gap between cards */
        padding: 5rem 1rem; /* Adjust padding for smaller screens */
    }

    .card {
        width: 15rem; /* Reduce card width for smaller screens */
        height: auto; /* Allow height to adjust automatically */
    }
}

@media (max-width: 480px) {
    .card-container {
        gap: 0.5rem; /* Further reduce gap for XS devices */
        padding: 4rem 1rem; /* Tight padding for very small screens */
    }

    .card {
        width: 14rem; /* Smaller card width for XS */
    }
}

/*/////////////////////////////// CONOCENOS - KNOW US /////////////////////////////////////////*/

/* Conócenos Section Styling */
.conocenos-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 9rem;
    background-color: #ffffff; /* Optional background color */
}

.conocenos-text {
    flex: 1;
    text-align: center;
    padding: 4rem;
}

.conocenos-text h2 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000000;
}

.conocenos-text p {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000000;
}

.conocenos-text .cta-button {
    padding: 0.7rem 1.5rem;
    background-color: #D9A9FB;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s;
}

.conocenos-text .cta-button:hover {
    background-color: #bd64fc;
}

/* Right Side: Image Styling */
.conocenos-image {
    flex: 1;
    text-align: center;
}

.conocenos-image img {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    .conocenos-section {
        flex-direction: column;
        text-align: center;
        padding: 2rem 4rem;
    }

    .conocenos-text {
        padding: 0 4rem;
        margin-bottom: 2rem;
    }

    .conocenos-image img {
        max-width: 300px; /* Adjust for smaller screens */
    }

    .conocenos-text .cta-button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background-color: #D9A9FB;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        transition: background-color 0.3s;
    }
}

/*/////////////////////////////// VISIT US /////////////////////////////////////////*/

/* Visítanos Section Styling */
.visitanos-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 9rem;
    background-color: #ffffff; /* Optional background color */
}

.visitanos-image {
    flex: 1;
    text-align: center;
}

.visitanos-image img {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
}

/* Right Side: Text and CTA */
.visitanos-text {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.visitanos-text h2 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000000;
}

.visitanos-text p {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #000000;
}

.visitanos-text .cta-button {
    padding: 0.7rem 1.5rem;
    background-color: #FF8080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s;
}

.visitanos-text .cta-button:hover {
    background-color: #ff4f4f;
}

/* Responsive Design */
@media (max-width: 768px) {
    .visitanos-section {
        flex-direction: column;
        text-align: center;
    }

    .visitanos-text {
        padding: 0;
        margin-top: 2rem;
    }

    .visitanos-image img {
        max-width: 300px; /* Adjust for smaller screens */
    }

    .visitanos-text .cta-button {
        padding: 0.7rem 1.5rem;
        background-color: #FF8080;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        transition: background-color 0.3s;
    }
}


/*/////////////////////////////// FOOTER /////////////////////////////////////////*/

/* Footer Styles */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #fff; /* Background color of the footer */
    color: #333;
    border-top: solid 2px; 
    border-color: #333;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-contact, .footer-copyright, .footer-social {
    flex: 1;
    text-align: left;
}

.footer-copyright {
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 4rem;
    color:#000000;
}

.footer-social a {
    display: inline-block;
}

.footer-social img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    border-radius: 25%;
    filter: invert(0); /* Makes icons white if they are black by default */
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer-contact,
    .footer-copyright,
    .footer-social {
        margin-bottom: 1rem;
    }
    .footer-social {
        padding-left: 4.5rem;
    }
}

/*///////////////////////////////// BLOG ///////////////////////////////////////*/

/* Blog cta */
.blog-cta {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-cta h2 {
    padding: 1rem 0;
}

.blog-cta p {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.blog-cta a {
    font-size: 1.2rem;
    padding: 1.2rem;
    margin: 1rem 0;
}
@media (max-width: 768px) {
    .blog-cta h2 {
        padding: 0.5rem 0;
    }
    
    .blog-cta p {
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }
}

/* Blog Filters */
.blog {
    padding: 6rem 4rem;
}
.blog-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.blog-filters label {
    margin-right: 0.5rem;
}

.blog-filters select,
.blog-filters input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Blog Entries */
.blog-entry {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.blog-entry h2 {
    margin-bottom: 0.5rem;
}

.blog-entry p.meta {
    font-size: 0.9rem;
    color: #888;
}

/*//////////////////////////////// DONATE ////////////////////////////////////////*/

/* Donations Section Layout */
.donations-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    border-radius: 10px;
}

.donations-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.donations-text {
    flex: 1;
    text-align: left;
}

.donations-text h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 1rem;
}

.donations-text p {
    font-size: 1.1rem;
    color: #666;
    font-family: 'Urbanist', sans-serif;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.donations-text ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    color: #666;
}

.donations-text ul li {
    margin-bottom: 0.5rem;
}

.donations-detail {
    padding: 7rem 4rem;
}

/* CTA Button */
.cta-button {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #ff6b6b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #D19FE8;
}

/* Donations Image Styling */
.donations-image {
    flex: 1;
    text-align: center;
}

.donations-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .donations-section {
        flex-direction: column;
    }

    .donations-content {
        flex-direction: column;
    }

    .donations-text, .donations-image {
        text-align: center;
    }

    .donations-image img {
        max-width: 300px; /* Ajuste para pantallas pequeñas */
    }
}


/*////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////// SUMATE ////////////////////////////////*/

.hero-sumate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.hero-sumate h1{
    font-size: 1.5rem; 
}

.hero-sumate p{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 5rem;
    align-items: center;
}
/* Line of Work Section */
.line-of-work {
    padding: 2rem 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.line-of-work h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.line-of-work p {
    padding:0 5rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #ff6b6b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.cta-button:hover {
    background-color: #ff4747;
}

/* Join CTA Section */
.join-cta {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-top: 2rem;
}

.join-cta h2 {
    font-size: 2rem;
    margin-bottom: 1rem;

}

.join-cta p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .hero-sumate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-sumate p{
        padding: 1rem 3rem;
    }

    .line-of-work p{
        padding:0 2rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

}
@media (max-width: 480px) {
    .hero-sumate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-sumate p{
        align-items: center;
        padding: 1rem 2rem;
    }

    .line-of-work p{
        padding:0 2rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

}

/*////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////// VISITANOS //////////////////////////////*/
.hero-visitanos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 4rem;
}

.hero-visitanos h1 {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.hero-visitanos p {
    font-size: 1.2rem;
    padding: 0.5rem;
}

/* Map Section */
.visit-map {
    text-align: center;
    padding: 1rem 0;
}

.visit-map h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.visit-map p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.visit-map iframe {
    margin: 1rem auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 80vw;
}

/* Contact Details Section */
.visit-contact {
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.visit-contact h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.visit-contact p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .visit-map p{
        font-size: 1.2rem;
        padding: 1rem;
    }
}

/*////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////// CONTACT US //////////////////////////////*/

/* Contact Form Section */
.contact-form {
    max-width: 600px; /* Limits the width for better readability */
    margin: 2rem auto; /* Centers the form and adds vertical spacing */
    padding: 7rem 2rem;
    background-color: #f9f9f9; /* Light background for contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-family: 'Urbanist', sans-serif; /* Consistent font */
}

.contact-form h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.contact-form p {
    margin-bottom: 1.5rem;
    color: #666;
    text-align: center;
}

/* Form Labels */
.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
}

/* Form Inputs */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="phonenumber"],
.contact-form textarea {
    width: 100%; /* Full width for consistency */
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box; /* Ensures padding does not affect width */
}

/* Form Input Focus State */
.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #ff6b6b; /* Highlight border on focus */
    box-shadow: 0 0 5px rgba(255, 107, 107, 0.5);
}

/* Textarea Styling */
.contact-form textarea {
    resize: vertical; /* Allows vertical resizing only */
}

/* Submit Button */
.contact-form button {
    width: 100%; /* Full width for a unified look */
    padding: 0.75rem;
    background-color: #ff6b6b; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #e55b5b; /* Darker shade on hover */
}


/*////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////// ACTIVISMO //////////////////////////////*/

/* Hero Section for Activismo */
.hero-activismo {
    margin-top: 4rem;
    background-color: #F0E5FF; /* Color de fondo similar a la imagen */
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-activismo .hero-text p{
    padding: 0 0 0.5rem 0;
}

.cta-button-activismo {
    padding: 0.7rem 1.5rem;
    background-color: #ab5ccf;
    color: white;
    border-radius: 5px;
    text-decoration: none;

}

.cta-button-activismo:hover {
    background-color: #c64bff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .donations-section {
        flex-direction: column;
    }

    .donations-content {
        flex-direction: column;
    }

    .donations-text, .donations-image {
        text-align: center;
    }

    .donations-image img {
        max-width: 300px; /* Ajuste para pantallas pequeñas */
    }
}

/*//////////////////////////// FORMACIÓN //////////////////////////////*/

/* Hero Section for Formacion */
.hero-formacion {
    margin-top: 4rem;
    background-color: #ffc7c7; /* Color de fondo similar a la imagen */
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-formacion .hero-text p{
    padding: 0 0 0.5rem 0;
}

.cta-button-formacion {
    padding: 0.7rem 1.5rem;
    background-color: #fd8787;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button-formacion:hover {
    background-color: #fd5656;
}

/*//////////////////////////// CONSUMO //////////////////////////////*/

/* Hero Section for Consumo */
.hero-consumo {
    margin-top: 4rem;
    background-color: #deffb4; /* Color de fondo similar a la imagen */
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-consumo .hero-text p{
    padding: 0 0 0.5rem 0;
}
.cta-button-consumo {
    padding: 0.7rem 1.5rem;
    background-color: #8edf24;
    color: white;
    border-radius: 5px;
    text-decoration: none;

}

.cta-button-consumo:hover {
    background-color: #8ef803;
}


/*////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////// INTERVENCIONES //////////////////////////////*/
/* Interventions Section */
.interventions {
    padding: 3rem 1rem;
    background-color: white;
    text-align: center;
}
/* Styling for the Interventions Section Title */
.interventions-title {
    padding: 2rem 5rem;
    text-align: center; /* Centers the title */
    font-size: 2rem;
    margin-bottom: 1rem; /* Adds space between the title and the container */
    color: #333;
}

/* Interventions Container */
/* Wrapper for the dot and card */
.intervention-wrapper {
    display: flex;
    align-items: flex-start;
    position: relative; /* Ensures the pseudo-element is positioned relative to the wrapper */
    width: 100%; /* Ensure the whole wrapper fits within the container */
    justify-content: center; /* Centers the entire wrapper */
}

/* Dot Styling */

/* Dot Color for Activismo Section */
.interventions-activismo .intervention-wrapper::before,
.interventions-activismo .dot {
    background-color: #d9a9fb; /* Red shade */
    color:#d9a9fb; /* Ensures currentColor matches */
}

/* Dot Color for Formacion Section */
.interventions-formacion .intervention-wrapper::before,
.interventions-formacion .dot {
    background-color: #ff6b6b; /* Green shade */
    color: #ff6b6b;
}

/* Dot Color for Consumo Section */
.interventions-consumo .intervention-wrapper::before,
.interventions-consumo .dot {
    background-color: #99cc33; /* Green shade */
    color: #99cc33;
}

/* Intervention Card Styling */
.intervention-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width for consistency */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s;
}

.intervention-card:hover {
    transform: translateY(-5px);
}

.intervention-card h3 {
    margin-top: 0;
    color: #333;
}

.intervention-card p {
    color: #666;
    margin: 0.5rem 0;
}

/* Estilo de los botones de filtro */
.filters button {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border: none;
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #e55b5b;
}

@media (max-width: 768px) {
    .interventions-title {
        padding: 3rem 5rem 2rem 5rem;
        text-align: center; /* Centers the title */
        font-size: 2rem;
        margin-bottom: 1rem; /* Adds space between the title and the container */
        color: #333;
    }
}
/*////////////////////////////////////////////////////////////////////////*/


/*/////////////////////////////// ABOUT US /////////////////////////////////////////*/

/* Conócenos Section Styling */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 9rem;
    background-color: #ffffff; /* Optional background color */
}

.about-section h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000000;
}

.about-section p{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000000;
}
.about-text {
    flex: 1;
    text-align: center;
    padding: 4rem;
}

.about-text h2 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000000;
}

.about-text p {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000000;
}

.about-text .cta-button {
    padding: 0.7rem 1.5rem;
    background-color: #D9A9FB;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s;
}

.about-text .cta-button:hover {
    background-color: #bd64fc;
}

/* Right Side: Image Styling */
.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
        padding: 2rem 4rem;
    }

    .about-text {
        padding: 0 4rem;
        margin-bottom: 2rem;
    }

    .about-image img {
        max-width: 300px; /* Adjust for smaller screens */
    }

    .about-text .cta-button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background-color: #D9A9FB;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        transition: background-color 0.3s;
    }
}
/*//////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////// ALIADAS  //////////////////////////////*/
/* Allies Section */
.allies {
    padding: 3rem 1rem;
    text-align: center;
    background-color: #f9f9f9;
}

.allies h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.allies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.ally-card {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ally-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.ally-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.ally-card p {
    font-size: 1rem;
    color: #666;
}

/* Blog CTA Section */
.blog-cta {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.blog-cta h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.blog-cta .cta-button {
    background-color: #D19FE8;
    padding: 0.7rem 1.5rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.blog-cta .cta-button:hover {
    background-color: #B07DC1;
}



/*////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////// CALENDARIO //////////////////////////////*/

/* Calendar Section */
.calendar-section {
    padding: 7rem 4rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calendar-section h1 {
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    color: #333;
    margin-bottom: 1.5rem;
}

/* Calendar Event Cards */
.calendar-event {
    background-color: #ffffff;
    border-left: 5px solid #ff6b6b;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.calendar-event:hover {
    transform: translateY(-5px);
}

.calendar-event h3 {
    margin-top: 0;
    color: #333;
}

.calendar-event p {
    color: #666;
}

/* Styling for smoother background */
.calendar-event:nth-child(odd) {
    background-color: #fdf1f1;
}

.calendar-event:nth-child(even) {
    background-color: #f1f5ff;
}
