/* Fonts */

@font-face {
    font-family: 'Coniferous';
    src: url('/fonts/Coniferous/fonnts.com-Coniferous-Demo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gill Sans Nova';
    src: url('/fonts/GillSansNova/gillsansnova_cnmedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Gill Sans Nova', sans-serif; /* or your chosen default */
}
main {
    width: 100vw;
    overflow-x: hidden;
}
section {
    width: 100vw;
    min-height: 60vh;
    padding: 0px;
}
a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from the parent element */
}
/* Tablet and above */
@media (min-width: 768px) {
    section {
        padding: 2rem 3rem;
    }
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
}

/* Desktop and above */
@media (min-width: 1024px) {
    section {
        padding: 3rem 5rem;
    }
    /* Possibly change layout from column to row where needed */
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////*/


/*/////////////////////////////   SLIDING STYLES FOR HOMEPAGE ////////////////////////////*/

/*.full-section-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: transform 0.7s ease-in-out;
    overflow-y: scroll;
    padding: 0;
}

/* Visible state */
.active {
transform: translateY(0);
}

/* Not visible – positioned off-screen below */
.off-screen {
transform: translateY(100vh);
}

/* XS and S Media Queries */
/*@media (max-width: 768px) { /* Covers XS and S */
    /*.full-section-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        min-height: 100vh;
        transition: transform 0.7s ease-in-out;
        margin: 0.5rem 0 1rem 0;
        padding: 0.5rem;
    }
}

@media (max-width: 480px) { /* Specific to XS */
    /*.full-section-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        transition: transform 0.7s ease-in-out;
        height: auto;
        padding: 0.5rem 0 1.5rem 0;
        margin: 0 0 5rem 0;
        
    }

    .full-section-wrapper.hero-image {
        background-color: #D9A9FB;
    }
}*/

/*////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////// GLOBAL RESPONSIVENESS /////////////////////////////////////*/

.header-placeholder {
    width: 100%;
}

/* General Container Responsiveness */
.container {
    width: 100vw; /* Makes containers fluid and adaptable */
    max-width: 1200px; /* Prevents overly wide layouts */
    margin: 0 auto; /* Centers content */
    padding: 1rem; /* Adds breathing room */
}

/* Text Responsiveness */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Reduce font size for smaller devices */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px; /* Further reduce for extra small devices */
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////// SITE /////////////////////////////////////*/

/* General Navbar Styling */
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays on top of other content */
    background-color: white; /* Or your desired background */
    padding: 0.7rem 2rem;
    border-bottom: 1px solid #000000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    max-width: 3rem; /* Adjust as needed */
}

/* Hide Nav Links by Default */
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    color: #000000;
    width: 200px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

/* Hamburger Menu Styling */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    background-color: #000000;
    height: 3px;
    width: 25px;
    border-radius: 2px;
}

/* Checkbox Toggle for Hamburger Menu */
.menu-toggle {
    display: none;
}

.menu-toggle:checked + .hamburger-menu + .nav-links {
    height: auto;
    padding: 1rem;
    background-color: #fff;
    color:#000000;
    border: 1.5px solid #000000;
}

/* Media Queries for Desktop */
@media (min-width: 769px) {
    .hamburger-menu {
        display: none; /* Hide Hamburger on Larger Screens */
    }

    .nav-links {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 2rem;
        height: auto;
        background: none;
        width: auto;
        padding: 0;
    }
}
@media (max-width: 768px) {
    .site-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 3.5rem;
        z-index: 1000; /* Ensures it stays on top of other content */
        background-color: white; /* Or your desired background */
        padding: 0.7rem 2rem;
        border-bottom: 1px solid #000000;
    }

    .nav-links a {
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
        }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .logo {
        max-width: 1.5rem; /* Adjust as needed */
    }
    /* Hamburger Menu Styling */
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hamburger-menu span {
        background-color: #000000;
        height: 3px;
        width: 25px;
        border-radius: 2px;
    }

    /* Checkbox Toggle for Hamburger Menu */
    .menu-toggle {
        display: none;
    }

    .menu-toggle:checked + .hamburger-menu + .nav-links {
        height: auto;
        padding: 0 1rem;
        margin: 0;
        background-color: #fff;
        color:#000000;
        border: 1.5px solid #000000;
    }
}

/*////////////////////////////////////////////////////////////////////////*/

/*/////////////// Banner Styles////////////////////////*/
/* Moving Banner Section */
.moving-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; /* Space above banner */
    margin-bottom: 2rem; /* Space below banner */
}

.moving-banner-b {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the banner text */
.banner-text {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.banner-text-b {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* The UL should scroll horizontally */
.banner-text ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: move-text 50s linear infinite; /* Adjust time for faster/slower scrolling */
    width: 100%;
}

.banner-text-b ul{
    display: flex;
    justify-content: inherit;
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: move-text-b 50s linear infinite; /* Adjust time for faster/slower scrolling */
    width: 100%;
}

/* Style for individual list items */
.banner-text li,
.banner-text-b li{
    display: inline-block;
    white-space: nowrap;
    padding: 0 1rem; /* Space between each word */
    font-size: 2.7rem;
    font-weight: 700;
    color: black;
}

/* Animation for scrolling text */
@keyframes move-text {
    0% {
        transform: translateX(100%); /* Start from right */
    }
    100% {
        transform: translateX(-100%); /* Move all the way to the left */
    }
}
@keyframes move-text-b {
    0% {
        transform: translateX(-100%); /* Start from left */
    }
    100% {
        transform: translateX(100%); /* Move all the way to the right*/
    }
}


/* Example for media queries (optional) for mobile */
@media (max-width: 768px) {
    .banner-text {
        font-size: 0.7rem;
    }
    .banner-text li,
    .banner-text-b li{
        display: inline-block;
        white-space: nowrap;
        padding: 0 1rem; /* Space between each word */
        font-size: 1rem;
        font-family: 'Urbanist', sans-serif;
        font-weight: 700;
        color: black;
    }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// HERO ////////////////////////////////////////*/

/* General Hero Styling */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; /* Space between image and text */
    padding: 2rem 1rem;
}

.hero-content {
    display: flex;
    flex-direction: row; /* Default: side-by-side layout */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Text Styling */
.hero-text {
    display:flex;
    flex-direction: column;
    max-width: 50vw;
    text-align: left;
    padding: 1rem 5rem;
}

.hero-text h1 {
    font-size: 2rem;
}

.hero-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1.5rem 0;
}

.hero-text a{
    align-items: center;
    max-width: 8rem;
    margin: 2rem 0;
    font-size: 1.2rem;
}

/* Image Styling */
.hero-image img {
    min-width: 30vw;
    height: auto;
    margin: 1rem;
}

.hero-social-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 24.4rem 1rem 0rem;
}


/* XS and S Media Queries */
@media (max-width: 768px) { /* Covers XS and S */
    .hero {
        flex-direction: column; /* Stack image and text vertically */
        padding: 1rem;
    }

    .hero-content {
        display: flex;
        flex-direction: column; /* Ensures image and text stack */
        gap: 1rem;
        min-width: 90vw;
    }
    .hero-text {
        min-width: 90vw;
    }

    .hero-text h1{
        font-size: 2.5rem; /* Reduce font size for smaller screens */
        text-align: center; /* Center-align text for narrow screens */
        padding: 0.2rem 0;
    }

    .hero-text p{
        font-size: 1.2rem;
        text-align: center; /* Center-align text */
        padding: 0.2rem 1rem;
    }
    .hero-text a{
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        align-items: center; /* Center-align text */
        padding: 1rem 3rem;
        max-width: auto;
    }

    .hero-image img {
        max-width: 90%; /* Scale down the image */
    }
    
    .hero-social-container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 1rem 5rem;
    }

    .hero-social-container img{
        max-width: 1.3rem;
    }
}

@media (max-width: 480px) { /* Specific to XS */
    
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .hero-text {
        min-width: 100vw!important;
        padding: 0;
        text-align: center;
    }
    .hero-text h1{
        font-size: 2.5rem; /* Further reduce font size */
        padding: 0;
    }

    .hero-text p{
        font-size: 1rem; /* Smaller font for extra small screens */
        padding: 1rem 2rem;
        line-height: 1.6rem!important;
        margin: 1rem 0;
    }

    .hero-image {
        padding: 0.2rem 0.2rem;
        max-width: 95vw;
    }
    

    .hero-social-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 1rem 0;
    }
    .hero-social-container img{
        max-width: 1rem;
    }
}

/*///////////////////////////////////////MAIN HERO//////////////////////////////////////////////////////*/

.main-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; /* Space between image and text */
    padding: 1rem;
    margin: 0px; /* Centers content vertically */
    background-color: #D9A9FB;
}

.main-hero-content {
    display: flex;
    flex-direction: column; /* Default: side-by-side layout */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Text Styling */
.main-hero-text {
    min-width: 100vw;
    text-align: left; 
    padding: 10rem 10rem 0 5rem;
}

.main-hero-text h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.main-hero-text p {
    font-size: 2rem;
    line-height: 1.5;
    padding: 0.5rem 0;
}

/* Image Styling */
.main-hero-image {
    min-width: 100vw;
    height: auto;
    background-color: #D9A9FB;
    margin: 0;
    align-content: center;
}
.main-hero-image img {
    width: 90vw;
    height: auto;
    margin: 0px;
    border-radius: 5%;
}

.main-hero-social-container {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding: 1rem 60rem 1rem 0;
}


/* XS and S Media Queries */
@media (max-width: 768px) { /* Covers XS and S */
    .main-hero {
        flex-direction: column; /* Stack image and text vertically */
        padding:0px;
    }

    .main-hero.container {
        flex-direction: column; /* Stack image and text vertically */
        padding: 3rem 0 0 0;
    }
    .main-hero-content {
        flex-direction: column; /* Ensures image and text stack */
        gap: 1rem;
        min-width: 100vw;
    }
    .main-hero-text {
        min-width: 100vw;
    }

    .main-hero-text h1 {
        font-size: 4rem; /* Reduce font size for smaller screens */
        text-align: center; /* Center-align text for narrow screens */
    }

    .main-hero-text p {
        font-size: 2rem;
        line-height: 2rem;
        text-align: center; /* Center-align text */
        padding: 0.2rem 6rem 2rem 3rem;
    }

    .main-hero-image img {
        src: url("/assets/womensmarch-sm.jpg");
        max-width: 100vw; /* Scale down the image */
    }
    
    .main-hero-social-container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 5rem 1rem 2rem;
    }

    .main-hero-social-container img{
        min-width: 1.5rem;
        height: auto!important;
        
    }
}

@media (max-width: 480px) { /* Specific to XS */
    .main-hero {
        padding: 0rem; /* Reduce padding for extra small screens */
    }
    
    .main-hero .container {
        padding: 0rem; /* Reduce padding for extra small screens */
    }
    .main-hero-content {
        flex-direction: column;
    }
    .main-hero-text {
        max-width: 100vw;
        margin: 2.5rem 5rem 1rem 4.5rem;
        padding: 0 2rem;
        text-align: justify;
    }
    .main-hero-text h1 {
        text-align: left;
        padding: 0;
        margin: 0 0 1rem 0;
        line-height: 3.5rem;
        font-size: 3.5rem; /* Further reduce font size */
    }

    .main-hero-text p {
        font-size: 1.2rem; /* Smaller font for extra small screens */
        line-height: 1.4rem;
        padding: 0px;
        text-align: left;
    }
    .main-hero-social-container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px; 
        max-height: 4rem;
        margin: 2rem 0;
    }

    .main-hero-social-container img{
        min-width: 1.5rem;
        height: auto!important;
    }
    
    .main-hero-image {
        max-width: 100vw;
        max-height: 50vh!important;
        background-color: #D9A9FB;
        padding: 0 0.25rem 0 0.35rem;

    }
    .main-hero-image img {
        min-width: 95vw;
        padding: 0 0.5rem 0 0;
    }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////// LINES OF WORK CARDS ///////////////////////////////////////*/

/* Card Container */
.card-container {
    min-width: 90vw;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 5rem 3rem 5rem;
    margin: auto 0; /* Centers content vertically */
    overflow-x: auto; /* Enables horizontal scrolling */
    scroll-snap-type: y mandatory; /* Smooth snapping for cards */
}
.card p {
    text-overflow: hidden;
} 

/* Scrollbar Styling */
.card-container::-webkit-scrollbar {
    height: 8px; /* Thin scrollbar */
}

.card-container::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Scrollbar color */
    border-radius: 4px;
}

/* Card Styling */
.card {
    flex: 0 0 auto; /* Prevents cards from resizing or wrapping */
    scroll-snap-align: start; /* Ensures cards align neatly during scrolling */
    background-color: white;
    border-radius: 15px;
    width: 17rem;
    height: 27rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* Specific Border Colors */
.activismo {
    background-color:#D9A9FB;
    border: 3px solid #D9A9FB;
}

.formacion {
    background-color:#FF8080;
    border: 3px solid #FF8080;
}

.consumo {
    background-color:#99CC33;
    border: 3px solid #99CC33;
}

/* Responsive Adjustments for XS and S */
@media (max-width: 768px) {
    .card-container {
        justify-content: left; /* Align cards to the left */
        gap: 1rem; /* Reduce gap between cards */
        padding: 3rem 0 2rem 0; /* Adjust padding for smaller screens */
    }

    .card {
        width: 15rem; /* Reduce card width for smaller screens */
        height: auto; /* Allow height to adjust automatically */
    }
}

@media (max-width: 480px) {
    .card-container {
        gap: 0.5rem; /* Further reduce gap for XS devices */
        padding: 4rem 1rem; /* Tight padding for very small screens */
    }

    .card {
        width: 14rem; /* Smaller card width for XS */
    }
}

/*/////////////////////////////// CONOCENOS - KNOW US /////////////////////////////////////////*/

/* Conócenos Section Styling */
.conocenos-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 9rem 3rem 9rem;
    margin: auto 0; /* Centers content vertically */
    background-color: #99CC33; /* Optional background color */
}

.conocenos-text {
    flex: 1;
    text-align: center;
    padding: 4rem;
}

.conocenos-text h2 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000000;
}

.conocenos-text p {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000000;
}

.conocenos-text .cta-button {
    padding: 0.7rem 1.5rem;
    background-color: #145A32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s;
}

.conocenos-text .cta-button:hover {
    background-color: #bd64fc;
}

/* Right Side: Image Styling */
.conocenos-image {
    flex: 1;
    text-align: center;
}

.conocenos-image img {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    .conocenos-section {
        flex-direction: column;
        text-align: center;
        padding: 2rem 4rem;
    }

    .conocenos-text {
        padding: 0 4rem;
        margin-bottom: 2rem;
    }

    .conocenos-image img {
        max-width: 300px; /* Adjust for smaller screens */
    }

    .conocenos-text .cta-button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background-color: #D9A9FB;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        transition: background-color 0.3s;
    }
}

/*/////////////////////////////// VISIT US /////////////////////////////////////////*/

/* Visítanos Section Styling */
.visitanos-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 9rem 3rem 9rem;
    margin: auto 0; /* Centers content vertically */
    background-color: #ffffff; /* Optional background color */
    padding-bottom: 0; /* Remove padding to fit footer */
}

.visitanos-image {
    flex: 1;
    text-align: center;
}

.visitanos-image img {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
}

/* Right Side: Text and CTA */
.visitanos-text {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.visitanos-text h2 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000000;
}

.visitanos-text p {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #000000;
}

.visitanos-text .cta-button {
    padding: 0.7rem 1.5rem;
    background-color: #C0392B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.visitanos-text .cta-button:hover {
    background-color: #ff4f4f;
}

/* Responsive Design */
@media (max-width: 768px) {
    .visitanos-section {
        flex-direction: column;
        text-align: center;
    }

    .visitanos-text {
        padding: 0;
        margin-top: 2rem;
    }

    .visitanos-image img {
        max-width: 300px; /* Adjust for smaller screens */
    }

    .visitanos-text .cta-button {
        padding: 0.7rem 1.5rem;
        background-color: #FF8080;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        transition: background-color 0.3s;
    }
}

/* Adjust footer for visitanos section */
#footer-placeholder {
    transition: opacity 0.6s ease;
    display: block;
    opacity: 1;
    }

/*/////////////////////////////// FOOTER /////////////////////////////////////////*/

/* Footer Styles */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #fff; /* Background color of the footer */
    color: #333;
    border-top: solid 2px; 
    border-color: #333;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-contact, .footer-copyright, .footer-social {
    flex: 1;
    text-align: left;
}

.footer-copyright {
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 4rem;
    color:#000000;
}

.footer-social a {
    display: inline-block;
}

.footer-social img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    border-radius: 25%;
    filter: invert(0); /* Makes icons white if they are black by default */
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .footer-contact,
    .footer-copyright,
    .footer-social {
        margin-bottom: 1rem;
    }
    .footer-social {
        padding-left: 4.5rem;
    }
    .footer-social {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        padding-right: 4rem;
        color:#000000;
    }
}

/*///////////////////////////////// BLOG ///////////////////////////////////////*/

/* Blog cta */
.blog-cta {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-cta h2 {
    padding: 1rem 0;
}

.blog-cta p {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.blog-cta a {
    font-size: 1.2rem;
    padding: 1.2rem;
    margin: 1rem 0;
}
@media (max-width: 768px) {
    .blog-cta h2 {
        padding: 0.5rem 0;
    }
    
    .blog-cta p {
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }
}

/* Blog Filters */
.blog {
    padding: 10rem 4rem;
}
.blog-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.blog-filters label {
    margin-right: 0.5rem;
}

.blog-filters select,
.blog-filters input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Blog Entries */
.blog-entry {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.blog-entry h2 {
    margin-bottom: 0.5rem;
}

.blog-entry p.meta {
    font-size: 0.9rem;
    color: #888;
}

/*//////////////////////////////// DONATE ////////////////////////////////////////*/

/* Donations Section Layout */
.donations-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    border-radius: 10px;
}

.donations-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.donations-text {
    flex: 1;
    text-align: left;
}

.donations-text h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 1rem;
}

.donations-text p {
    font-size: 1.1rem;
    color: #666;
    font-family: 'Urbanist', sans-serif;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.donations-text ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    color: #666;
}

.donations-text ul li {
    margin-bottom: 0.5rem;
}

.donations-detail {
    padding: 7rem 4rem;
}

/* CTA Button */
.cta-button {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #ff6b6b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #D19FE8;
}

/* Donations Image Styling */
.donations-image {
    flex: 1;
    text-align: center;
}

.donations-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .donations-section {
        flex-direction: column;
    }

    .donations-content {
        flex-direction: column;
    }

    .donations-text, .donations-image {
        text-align: center;
    }

    .donations-image img {
        max-width: 300px; /* Ajuste para pantallas pequeñas */
    }
}


/*////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////// SUMATE ////////////////////////////////*/

.hero-sumate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 80px;
}

.hero-sumate h1{
    font-size: 1.5rem; 
}

.hero-sumate p{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 5rem;
    align-items: center;
}
/* Line of Work Section */
.line-of-work {
    padding: 2rem 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.line-of-work h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.line-of-work p {
    padding:0 5rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #ff6b6b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.cta-button:hover {
    background-color: #ff4747;
}

/* Join CTA Section */
.join-cta {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-top: 2rem;
}

.join-cta h2 {
    font-size: 2rem;
    margin-bottom: 1rem;

}

.join-cta p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .hero-sumate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-sumate p{
        padding: 1rem 3rem;
    }

    .line-of-work p{
        padding:0 2rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

}
@media (max-width: 480px) {
    .hero-sumate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-sumate p{
        align-items: center;
        padding: 1rem 2rem;
    }

    .line-of-work p{
        padding:0 2rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
}

/*////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////// VISITANOS //////////////////////////////*/
.hero-visitanos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 4rem;
    margin-top: 80px;
}

.hero-visitanos h1 {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.hero-visitanos p {
    font-size: 1.2rem;
    padding: 0.5rem;
}

/* Map Section */
.visit-map {
    text-align: center;
    padding: 1rem 0;
}

.visit-map h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.visit-map p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.visit-map iframe {
    margin: 1rem auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 80vw;
}

/* Contact Details Section */
.visit-contact {
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f9;
    border-radius: 10px;
}

.visit-contact h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.visit-contact p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .visit-map p{
        font-size: 1.2rem;
        padding: 1rem;
    }
}

/*////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////// CONTACT US //////////////////////////////*/

/* Contact Form Section */
.contact-form-container {
    padding: 4rem;
    margin: 4rem;
}
.contact-form {
    max-width: 600px; /* Limits the width for better readability */
    margin: 4rem auto; /* Centers the form and adds vertical spacing */
    padding: 7rem 2rem;
    background-color: #f9f9f9; /* Light background for contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-family: 'Urbanist', sans-serif; /* Consistent font */
}

.contact-form h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.contact-form p {
    margin-bottom: 1.5rem;
    color: #666;
    text-align: center;
}

/* Form Labels */
.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
}

/* Form Inputs */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="phonenumber"],
.contact-form textarea {
    width: 100%; /* Full width for consistency */
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box; /* Ensures padding does not affect width */
}

/* Form Input Focus State */
.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #ff6b6b; /* Highlight border on focus */
    box-shadow: 0 0 5px rgba(255, 107, 107, 0.5);
}

/* Textarea Styling */
.contact-form textarea {
    resize: vertical; /* Allows vertical resizing only */
}

/* Submit Button */
.contact-form button {
    width: 100%; /* Full width for a unified look */
    padding: 0.75rem;
    background-color: #ff6b6b; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #e55b5b; /* Darker shade on hover */
}


/*////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////// ACTIVISMO //////////////////////////////*/

/* Hero Section for Activismo */
.hero-activismo {
    min-height: 40vh;
    background-color: #F0E5FF; /* Color de fondo similar a la imagen */
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-button-activismo {
    margin: 1rem 0rem!important;
    padding: 1rem 2rem 1rem 0.6rem;
    background-color: #ab5ccf;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button-activismo:hover {
    background-color: #c64bff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .donations-section {
        flex-direction: column;
    }

    .donations-content {
        flex-direction: column;
    }

    .donations-text, .donations-image {
        text-align: center;
    }

    .donations-image img {
        max-width: 300px; /* Ajuste para pantallas pequeñas */
    }

    .cta-button-activismo {
        margin: 1rem 12rem!important;
        padding: 1rem 3rem;
        background-color: #ab5ccf;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        min-width: 20vw;
    }
    
    .cta-button-activismo:hover {
        background-color: #c64bff;
    }
}

@media (max-width: 480px) {
    .cta-button-activismo {
        margin: 1rem 8rem!important;
        padding: 1rem 3rem;
        background-color: #ab5ccf;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        min-width: 20vw;
    }
    
    .cta-button-activismo:hover {
        background-color: #c64bff;
    }
}

@media (max-width: 320px) {
    .cta-button-activismo {
        margin: 1rem 6rem!important;
        padding: 1rem 3rem;
        background-color: #ab5ccf;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        min-width: 20vw;
    }
    
    .cta-button-activismo:hover {
        background-color: #c64bff;
    }
}
/*//////////////////////////// FORMACIÓN //////////////////////////////*/

/* Hero Section for Formacion */
.hero-formacion {
    min-height: 0vh;
    background-color: #ffc7c7; /* Color de fondo similar a la imagen */
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cta-button-formacion {
    padding: 1rem 1rem 1rem 0.7rem;
    background-color: #fd8787;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button-formacion:hover {
    background-color: #fd5656;
}

@media (max-width: 768px) {
    .donations-section {
        flex-direction: column;
    }

    .donations-content {
        flex-direction: column;
    }

    .donations-text, .donations-image {
        text-align: center;
    }

    .donations-image img {
        max-width: 300px; /* Ajuste para pantallas pequeñas */
    }

    .cta-button-formacion {
        margin: 1rem 12rem!important;
        padding: 1rem 3rem;
        background-color: #fd8787;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        min-width: 20vw;
    }
    
    .cta-button-formacion:hover {
        background-color: #fd5656;
    }
}

@media (max-width: 480px) {
    .cta-button-formacion {
        margin: 1rem 8rem!important;
        padding: 1rem 3rem;
        background-color: #fd8787;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        min-width: 20vw;
    }
    
    .cta-button-formacion:hover {
        background-color: #fd5656;
    }
}

@media (max-width: 320px) {
    .cta-button-formacion {
        margin: 1rem 6rem!important;
        padding: 1rem 3rem;
        background-color: #fd8787;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        min-width: 40vw;
    }
    
    .cta-button-formacion:hover {
        background-color: #fd5656;
    }
}

/*//////////////////////////// CONSUMO //////////////////////////////*/

/* Hero Section for Consumo */
.hero-consumo {
    min-height: 40vh;
    background-color: #deffb4; /* Color de fondo similar a la imagen */
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-consumo .hero-text p{
    padding: 0 0 0.5rem 0;
}
.cta-button-consumo {
    padding: 1rem 1rem 1rem 0.5rem;
    background-color: #8edf24;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button-consumo:hover {
    background-color: #8ef803;
}

@media (max-width: 768px) {
    .donations-section {
        flex-direction: column;
    }

    .donations-content {
        flex-direction: column;
    }

    .donations-text, .donations-image {
        text-align: center;
    }

    .donations-image img {
        max-width: 300px; /* Ajuste para pantallas pequeñas */
    }

    .cta-button-consumo {
        margin: 1rem 12rem!important;
        padding: 1rem 3rem;
        background-color: #8edf24;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        min-width: 20vw;
    }
    
    .cta-button-consumo:hover {
        background-color: #8ef803;
    }
}

@media (max-width: 480px) {
    .cta-button-consumo {
        margin: 1rem 7rem!important;
        padding: 1rem 3rem;
        background-color: #8edf24;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        min-width: 40vw!important;
    }
    
    .cta-button-consumo:hover {
        background-color: #8ef803;
    }
}

@media (max-width: 320px) {
    .cta-button-consumo {
        margin: 1rem 6rem!important;
        padding: 1rem 3rem;
        background-color: #8edf24;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        min-width: 40vw;
    }
    
    .cta-button-consumo:hover {
        background-color: #8ef803;
    }
}


/*////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////// INTERVENCIONES //////////////////////////////*/
/* Interventions Section */

.hero-intervenciones {
    margin: 9rem 0 1.5rem 0;
    padding: 0.5rem;
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.interventions {
    padding: 1.5rem 1rem;
    background-color: white;
    text-align: center;
}

/* Styling for the Interventions Section Title */
.interventions-title {
    text-align: center; /* Centers the title */
    font-size: 2rem;
    margin-bottom: 1rem; /* Adds space between the title and the container */
    color: #333;
}

/* Interventions Container */
/* Wrapper for the dot and card */
.intervention-wrapper {
    display: flex;
    align-items: flex-start;
    position: relative; /* Ensures the pseudo-element is positioned relative to the wrapper */
    width: 100%; /* Ensure the whole wrapper fits within the container */
    justify-content: center; /* Centers the entire wrapper */
}

/* Dot Styling */

/* Dot Color for Activismo Section */
.interventions-activismo .intervention-wrapper::before,
.interventions-activismo .dot {
    background-color: #d9a9fb; /* Red shade */
    color:#d9a9fb; /* Ensures currentColor matches */
}

/* Dot Color for Formacion Section */
.interventions-formacion .intervention-wrapper::before,
.interventions-formacion .dot {
    background-color: #ff6b6b; /* Green shade */
    color: #ff6b6b;
}

/* Dot Color for Consumo Section */
.interventions-consumo .intervention-wrapper::before,
.interventions-consumo .dot {
    background-color: #99cc33; /* Green shade */
    color: #99cc33;
}

/* Intervention Card Styling */
.intervention-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width for consistency */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s;
    margin: 0.5rem;
}

.intervention-card:hover {
    transform: translateY(-5px);
}

.intervention-card h3 {
    margin-top: 0;
    color: #333;
}

.intervention-card p {
    color: #666;
    margin: 0.5rem 0;
}

/* Estilo de los botones de filtro */
.filters button {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border: none;
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #e55b5b;
}

@media (max-width: 768px) {
    .interventions-title {
        padding: 1rem 1rem;
        text-align: center; /* Centers the title */
        font-size: 2rem;
        margin-bottom: 1rem; /* Adds space between the title and the container */
        color: #333;
    }
}
/*////////////////////////////////////////////////////////////////////////*/


/*/////////////////////////////// ABOUT US /////////////////////////////////////////*/

/* Conócenos Section Styling */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 9rem;
    background-color: #ffffff; /* Optional background color */
}

.about-section h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000000;
}

.about-section p{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000000;
}
.about-text {
    flex: 1;
    text-align: center;
    padding: 4rem;
}

.about-text h2 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000000;
}

.about-text p {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000000;
}

.about-text .cta-button {
    padding: 0.7rem 1.5rem;
    background-color: #D9A9FB;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s;
}

.about-text .cta-button:hover {
    background-color: #bd64fc;
}

/* Right Side: Image Styling */
.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
        padding: 2rem 4rem;
    }

    .about-text {
        padding: 0 4rem;
        margin-bottom: 2rem;
    }

    .about-image img {
        max-width: 300px; /* Adjust for smaller screens */
    }

    .about-text .cta-button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background-color: #D9A9FB;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        transition: background-color 0.3s;
    }
}
/*//////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////// ALIADAS  //////////////////////////////*/
/* Allies Section */
.allies {
    padding: 3rem 1rem;
    text-align: center;
    background-color: #f9f9f9;
}

.allies h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.allies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.ally-card {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ally-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.ally-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.ally-card p {
    font-size: 1rem;
    color: #666;
}

/* Blog CTA Section */
.blog-cta {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.blog-cta h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.blog-cta .cta-button {
    background-color: #D19FE8;
    padding: 0.7rem 1.5rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.blog-cta .cta-button:hover {
    background-color: #B07DC1;
}



/*////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////// CALENDARIO //////////////////////////////*/

/* Calendar Section */
.calendar-section {
    padding: 7rem 4rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calendar-section h1 {
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    color: #333;
    margin-bottom: 1.5rem;
}

/* Calendar Event Cards */
.calendar-event {
    background-color: #ffffff;
    border-left: 5px solid #ff6b6b;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.calendar-event:hover {
    transform: translateY(-5px);
}

.calendar-event h3 {
    margin-top: 0;
    color: #333;
}

.calendar-event p {
    color: #666;
}

/* Styling for smoother background */
.calendar-event:nth-child(odd) {
    background-color: #fdf1f1;
}

.calendar-event:nth-child(even) {
    background-color: #f1f5ff;
}

/* Full Section Components */
.hero-full,
.cards-full,
.conocenos-full,
.visitanos-section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 0 4rem 0;
}

.hero-full {
    background-color: #D9A9FB;
}

.cards-full {
    background-color: white;
}

.conocenos-full {
    background-color: #99CC33;
}

.visitanos-section {
    background-color: #FF8080;
}

.card-container {
    padding: 2rem 5rem 3rem 5rem;
    margin: auto 0;
}

.conocenos-section {
    padding: 2rem 9rem 3rem 9rem;
    margin: auto 0;
}

.visitanos-section {
    padding: 2rem 9rem 3rem 9rem;
    margin: auto 0;
}

/* Banner spacing */
.moving-banner {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media (max-width: 480px) {
    /* Banner spacing */
.moving-banner {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
    
}

/* Override fonts for headings and body text */
h1, h2, h3 {
font-family: 'Coniferous', sans-serif !important;
font-size: 3rem;
color:black;
}

p, ul, li {
font-family: 'Gill Sans Nova', sans-serif !important;
font-size: 2.5rem;
} 
